
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="~/Views/Home/style.css"/>
</head>
<body style="background-color: black; color: green; font-family: Consolas;">
    <div class="row">
        <div class="container">
            <h1 style="text-align: center;">Hello ;)</h1>
            <p>!Replace "Home/Index" to "number/random" or just add it in address bar to have a car plate number generator!</p>
        </div>
    </div>
</body>
</html>