@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="~/Views/Home/style.css"/>
</head>
<body>
    <div class="row">
        <h1 id="hi">Hello ;)</h1>
    </div>
</body>
</html>