@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>random</title>
</head>
<body>
    <div >
       <h1 style="text-align: center;" ><span style="border-width: 10px; border: solid; border-radius: 5px; "> <span style="margin: 5px 5px 5px 5px;">
        @ViewData["Number"]</span></span></h1>
    </div>
</body>
</html>
